# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# FAISS index files
faiss_indexes/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Other
*.log